@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 overflow-hidden;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-lg;
  }
}